# RUN: docker compose -f docker-compose-prod.yml up -d

services:
  app:
    image: nguyenminh1301/per:latest
    container_name: per_app
    env_file:
      - .env
    ports:
      - "8080:8080"

  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: [ "5432:5432" ]
    volumes: [ "db:/var/lib/postgresql/data" ]

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI (http://localhost:8025)
    # SMTP 1025/UI 8025 theo docs :contentReference[oaicite:25]{index=25}

volumes:
  db:
