spring:
  application:
    name: per
  profiles:
    active: dev # profile
  config:
    import: optional:file:.env[.properties] # link .env
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
  flyway:
    enabled: true
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  elasticsearch:
    uris: ${ELASTICSEARCH_URI:http://localhost:9200}
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        model: ${OPENAI_CHAT_MODEL:gpt-3.5-turbo}
      embedding:
        model: ${OPENAI_EMBEDDING_MODEL:text-embedding-3-small}
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 1536
  # AWS SES Configuration
aws:
  ses:
    region: ${AWS_REGION}
    source-email: ${AWS_SES_SOURCE_EMAIL}
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}

management:
  health:
    circuitbreakers:
      enabled: true
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, prometheus

server:
  port: ${SERVER_PORT:8080}
