spring:
  application:
    name: per
  profiles:
    active: dev # profile
  config:
    import: optional:file:.env[.properties] # link .env
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
  flyway:
    enabled: true
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: ${MAIL_SMTP_AUTH:true}
      mail.smtp.starttls.enable: ${MAIL_SMTP_STARTTLS:true}
      mail.smtp.starttls.required: ${MAIL_SMTP_STARTTLS:true}
      mail.smtp.ssl.trust: smtp.gmail.com
      mail.smtp.connectiontimeout: ${MAIL_SMTP_CONNECTION_TIMEOUT:5000}
      mail.smtp.timeout: ${MAIL_SMTP_TIMEOUT:5000}
      mail.smtp.writetimeout: ${MAIL_SMTP_WRITETIMEOUT:5000}
    default-encoding: UTF-8

management:
  health:
    circuitbreakers:
      enabled: true
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, prometheus

server:
  port: ${SERVER_PORT:8080}
