name: Task Flows Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  APP_NAME: task-flows-app


jobs:
  tests:
    env:
      TZ: Asia/Ho_Chi_Minh
    runs-on: ubuntu-24.04
    name: Tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{hashFiles('**/pom.xml')}}
          restore-keys: ${{ runner.os }}-m2

      - name: Running Unit Tests
        run: |
          ./mvnw clean test

  build-and-deploy:
    runs-on: ubuntu-24.04
    name: Build & Deploy
    needs: tests
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{hashFiles('**/pom.xml')}}
          restore-keys: ${{ runner.os }}-m2

      - name: Extract project version
        id: extract_version
        run: |
          echo "VERSION=$(./mvn -q -Dexec.executable='echo' -Dexec-args='${project.version}' --non-recursive exec:exec)" >> $GITHUB_OUTPUT
          
      - name: Build application
        run: ./mvn -q -B clean package -Dspotless.check.skip=true -DskipTests

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          pull: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_APP }}:${{ env.DOCKER_APP_VERSION }}
            ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_APP }}:${{ steps.extract_version.outputs.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=mas
          build-args:




























